name = "core"
main = "src/index.ts"
compatibility_date = "2023-01-29"

[[ d1_databases ]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "my-d1"
database_id = "hoge"
preview_database_id="fuga"